TD_#1/.ipynb_checkpoints/
TD_#1/log.pyc
TD_#1/spectral/
TD_#1/speech_commands_v0.01.tar
TD_#2/.ipynb_checkpoints/
TD_#2/TD2_MVA_SL.ova
TD_#3/report/
TD_#3/system/CorpusBataclan_en.1M.raw.txt
TD_#3/system/MODEL_DIR/
TD_#4/__pycache__/
TD_#5/report/

